@{
    ViewData["Title"] = "Order Successful";
}

<h2>Zamówienie zostało złożone!</h2>
<p>Dziękujemy za wspieranie naszej działalności! Zamówienie zostało złożone, czekamy na zaksiegowanie płatności.</p>
<a href="@Url.Action("Index", "Home")">Stronga główna</a>